In [20]:
import pandas as pd

df_movies = pd.read_csv('data/rotten_tomatoes_movies.csv')
df_reviews = pd.read_csv('data/rotten_tomatoes_movie_reviews.csv')
df_wiki = pd.read_csv('data/wiki_movie_plots.csv')
df_metadata = pd.read_csv('data/movies_metadata.csv', low_memory=False)

In [21]:
def column_stats(df):
    stats = pd.DataFrame({
        "Data Type": df.dtypes,
        "Count": df.count(),
        "Missing Values": df.isna().sum(),
        "Missing Value Rate": df.isna().sum() / df.shape[0] * 100,
        "Unique Values": df.nunique(),
        "Unique Rate": df.nunique() / df.shape[0] * 100,
        "Mean": df.select_dtypes(include=["number"]).mean(),
        "Median": df.select_dtypes(include=["number"]).median(),
        "Mode": df.mode().iloc[0],
        "Min": df.select_dtypes(include=["number"]).min(),
        "Max": df.select_dtypes(include=["number"]).max(),
    })
    return stats

In [22]:
display(column_stats(df_movies))
display(column_stats(df_reviews))
display(column_stats(df_wiki))
display(column_stats(df_metadata))

,Data Type,Count,Missing Values,Missing Value Rate,Unique Values,Unique Rate,Mean,Median,Mode,Min,Max
audienceScore,float64,73248,70010,48.869871,101,0.070502,55.674967,57.0,50.0,0.0,100.0
boxOffice,object,14743,128515,89.708777,4863,3.394575,NaN,NaN,$1.1M,NaN,NaN
director,object,139041,4217,2.943640,62206,43.422357,NaN,NaN,Unknown Director,NaN,NaN
distributor,object,23001,120257,83.944352,3693,2.577867,NaN,NaN,Paramount Pictures,NaN,NaN
genre,object,132175,11083,7.736392,2912,2.032696,NaN,NaN,Drama,NaN,NaN
id,object,143258,0,0.000000,142052,99.158162,NaN,NaN,$5_a_day,NaN,NaN
originalLanguage,object,129400,13858,9.673456,112,0.078181,NaN,NaN,English,NaN,NaN
rating,object,13991,129267,90.233704,10,0.006980,NaN,NaN,R,NaN,NaN
ratingContents,object,13991,129267,90.233704,8353,5.830739,NaN,NaN,['Language'],NaN,NaN
releaseDateStreaming,object,79420,63838,44.561560,4726,3.298943,NaN,NaN,2017-05-22,NaN,NaN
releaseDateTheaters,object,30773,112485,78.519175,12062,8.419774,NaN,NaN,2018-09-14,NaN,NaN
runtimeMinutes,float64,129431,13827,9.651817,324,0.226165,93.708578,92.0,90.0,1.0,2700.0
soundMix,object,15917,127341,88.889277,551,0.384621,NaN,NaN,Surround,NaN,NaN
title,object,142891,367,0.256181,126403,88.234514,NaN,NaN,The Return,NaN,NaN
tomatoMeter,float64,33877,109381,76.352455,101,0.070502,65.770346,73.0,100.0,0.0,100.0
writer,object,90116,53142,37.095311,67274,46.960030,NaN,NaN,Jing Wong,NaN,NaN

,Data Type,Count,Missing Values,Missing Value Rate,Unique Values,Unique Rate,Mean,Median,Mode,Min,Max
creationDate,object,1444963,0,0.000000,8510,0.588942,NaN,NaN,2000-01-01,NaN,NaN
criticName,object,1444963,0,0.000000,15510,1.073384,NaN,NaN,Emanuel Levy,NaN,NaN
id,object,1444963,0,0.000000,69263,4.793410,NaN,NaN,parasite_2019,NaN,NaN
isTopCritic,bool,1444963,0,0.000000,2,0.000138,NaN,NaN,False,NaN,NaN
originalScore,object,1009745,435218,30.119664,1729,0.119657,NaN,NaN,3/5,NaN,NaN
publicatioName,object,1444963,0,0.000000,2707,0.187340,NaN,NaN,New York Times,NaN,NaN
reviewId,int64,1444963,0,0.000000,1432569,99.142262,9.035203e+06,2200337.0,7726,1.0,102796154.0
reviewState,object,1444963,0,0.000000,2,0.000138,NaN,NaN,fresh,NaN,NaN
reviewText,object,1375738,69225,4.790780,1359771,94.104209,NaN,NaN,Parental Content Review,NaN,NaN
reviewUrl,object,1234038,210925,14.597260,1138350,78.780564,NaN,NaN,http://www.jackiekcooper.com,NaN,NaN
scoreSentiment,object,1444963,0,0.000000,2,0.000138,NaN,NaN,POSITIVE,NaN,NaN

,Data Type,Count,Missing Values,Missing Value Rate,Unique Values,Unique Rate,Mean,Median,Mode,Min,Max
Cast,object,33464,1422,4.076134,32182,92.249040,NaN,NaN,Tom and Jerry,NaN,NaN
Director,object,34886,0,0.000000,12593,36.097575,NaN,NaN,Unknown,NaN,NaN
Genre,object,34886,0,0.000000,2265,6.492576,NaN,NaN,unknown,NaN,NaN
Origin/Ethnicity,object,34886,0,0.000000,24,0.068796,NaN,NaN,American,NaN,NaN
Plot,object,34886,0,0.000000,33869,97.084790,NaN,NaN,"(マッスル人参争奪！超人大戦争, Massuru Ninjin Soudatsu! Chou...",NaN,NaN
Release Year,int64,34886,0,0.000000,117,0.335378,1981.314252,1988.0,2013.0,1901.0,2017.0
Title,object,34886,0,0.000000,32432,92.965660,NaN,NaN,Cinderella,NaN,NaN
Wiki Page,object,34886,0,0.000000,34070,97.660953,NaN,NaN,https://en.wikipedia.org/wiki/Digimon_Adventur...,NaN,NaN

,Data Type,Count,Missing Values,Missing Value Rate,Unique Values,Unique Rate,Mean,Median,Mode,Min,Max
adult,object,45466,0,0.000000,5,0.010997,NaN,NaN,False,NaN,NaN
belongs_to_collection,object,4494,40972,90.115691,1698,3.734659,NaN,NaN,"{'id': 415931, 'name': 'The Bowery Boys', 'pos...",NaN,NaN
budget,object,45466,0,0.000000,1226,2.696520,NaN,NaN,0,NaN,NaN
genres,object,45466,0,0.000000,4069,8.949545,NaN,NaN,"[{'id': 18, 'name': 'Drama'}]",NaN,NaN
homepage,object,7782,37684,82.883913,7673,16.876347,NaN,NaN,http://www.georgecarlin.com,NaN,NaN
id,object,45466,0,0.000000,45436,99.934017,NaN,NaN,141971,NaN,NaN
imdb_id,object,45449,17,0.037391,45417,99.892227,NaN,NaN,0,NaN,NaN
original_language,object,45455,11,0.024194,92,0.202349,NaN,NaN,en,NaN,NaN
original_title,object,45466,0,0.000000,43373,95.396560,NaN,NaN,Alice in Wonderland,NaN,NaN
overview,object,44512,954,2.098271,44307,97.450842,NaN,NaN,No overview found.,NaN,NaN
popularity,object,45461,5,0.010997,43758,96.243347,NaN,NaN,0.0,NaN,NaN
poster_path,object,45080,386,0.848986,45024,99.027845,NaN,NaN,/5D7UBSEgdyONE6Lql6xS7s6OLcW.jpg,NaN,NaN
production_companies,object,45463,3,0.006598,22708,49.945014,NaN,NaN,[],NaN,NaN
production_countries,object,45463,3,0.006598,2393,5.263274,NaN,NaN,"[{'iso_3166_1': 'US', 'name': 'United States o...",NaN,NaN
release_date,object,45379,87,0.191352,17336,38.129591,NaN,NaN,2008-01-01,NaN,NaN
revenue,float64,45460,6,0.013197,6863,15.094796,1.120935e+07,0.0,0.0,0.0,2.787965e+09
runtime,float64,45203,263,0.578454,353,0.776404,9.412820e+01,95.0,90.0,0.0,1.256000e+03
spoken_languages,object,45460,6,0.013197,1931,4.247130,NaN,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]",NaN,NaN
status,object,45379,87,0.191352,6,0.013197,NaN,NaN,Released,NaN,NaN
tagline,object,20412,25054,55.104914,20283,44.611358,NaN,NaN,Based on a true story.,NaN,NaN
title,object,45460,6,0.013197,42277,92.985968,NaN,NaN,Cinderella,NaN,NaN
video,object,45460,6,0.013197,2,0.004399,NaN,NaN,False,NaN,NaN
vote_average,float64,45460,6,0.013197,92,0.202349,5.618207e+00,6.0,0.0,0.0,1.000000e+01
vote_count,float64,45460,6,0.013197,1820,4.002991,1.098973e+02,10.0,1.0,0.0,1.407500e+04

In [23]:
df_movies["title"] = df_movies["title"].str.strip().str.lower()
df_wiki["title"] = df_wiki["Title"].str.strip().str.lower()
df_metadata["title"] = df_metadata["title"].str.strip().str.lower()

# Merge DataFrames on the cleaned title column using inner joins
df_joined = (
    df_movies
    .merge(df_wiki, on=["title" , ], how="inner")
    .merge(df_metadata, on=["title"], how="inner")
)

review_counts = df_reviews.groupby('id').size().reset_index(name='review_count')
df_joined = df_joined.merge(review_counts, left_on='id_x', right_on='id', how='left')

df_joined.head()
print(df_joined.shape)

(49763, 49)

In [24]:
display(column_stats(df_joined))

,Data Type,Count,Missing Values,Missing Value Rate,Unique Values,Unique Rate,Mean,Median,Mode,Min,Max
Cast,object,48101,1662,3.339831,15068,30.279525,NaN,NaN,"Kenneth Branagh, Derek Jacobi, Julie Christie,...",NaN,NaN
Director,object,49763,0,0.000000,6213,12.485180,NaN,NaN,Unknown,NaN,NaN
Genre,object,49763,0,0.000000,1240,2.491811,NaN,NaN,drama,NaN,NaN
Origin/Ethnicity,object,49763,0,0.000000,20,0.040191,NaN,NaN,American,NaN,NaN
Plot,object,49763,0,0.000000,15397,30.940659,NaN,NaN,"After losing her mother at a young age, Ella p...",NaN,NaN
Release Year,int64,49763,0,0.000000,113,0.227076,1.981188e+03,1990.0,2012.0,1902.0,2.017000e+03
Title,object,49763,0,0.000000,14015,28.163495,NaN,NaN,Cinderella,NaN,NaN
Wiki Page,object,49763,0,0.000000,15421,30.988887,NaN,NaN,https://en.wikipedia.org/wiki/Cinderella_(2015...,NaN,NaN
adult,object,49763,0,0.000000,1,0.002010,NaN,NaN,False,NaN,NaN
audienceScore,float64,37680,12083,24.281092,100,0.200953,5.723769e+01,59.0,50.0,0.0,1.000000e+02
belongs_to_collection,object,3828,45935,92.307538,934,1.876896,NaN,NaN,"{'id': 87631, 'name': 'The Musketeers Collecti...",NaN,NaN
boxOffice,object,12019,37744,75.847517,2718,5.461889,NaN,NaN,$1.1M,NaN,NaN
budget,object,49763,0,0.000000,750,1.507144,NaN,NaN,0,NaN,NaN
director,object,48884,879,1.766373,9603,19.297470,NaN,NaN,Unknown Director,NaN,NaN
distributor,object,16970,32793,65.898358,1556,3.126821,NaN,NaN,Paramount Pictures,NaN,NaN
genre,object,48231,1532,3.078593,1059,2.128087,NaN,NaN,Drama,NaN,NaN
genres,object,49763,0,0.000000,2387,4.796737,NaN,NaN,"[{'id': 18, 'name': 'Drama'}]",NaN,NaN
homepage,object,7672,42091,84.582923,2554,5.132327,NaN,NaN,http://movies.disney.com/the-three-musketeers,NaN,NaN
id,object,34880,14883,29.907763,16353,32.861765,NaN,NaN,1138195-cinderella,NaN,NaN
id_x,object,49763,0,0.000000,21041,42.282419,NaN,NaN,1138195-cinderella,NaN,NaN
id_y,object,49763,0,0.000000,16396,32.948174,NaN,NaN,10057,NaN,NaN
imdb_id,object,49747,16,0.032152,16392,32.940136,NaN,NaN,tt0012752,NaN,NaN
originalLanguage,object,46519,3244,6.518900,83,0.166791,NaN,NaN,English,NaN,NaN
original_language,object,49762,1,0.002010,53,0.106505,NaN,NaN,en,NaN,NaN
original_title,object,49763,0,0.000000,14748,29.636477,NaN,NaN,The Three Musketeers,NaN,NaN
overview,object,49475,288,0.578743,16339,32.833631,NaN,NaN,Miser Ebenezer Scrooge is awakened on Christma...,NaN,NaN
popularity,object,49763,0,0.000000,16307,32.769327,NaN,NaN,0.000431,NaN,NaN
poster_path,object,49701,62,0.124591,16379,32.914012,NaN,NaN,/cQsjMRId7r61Nh0bwEtGzCvp9gS.jpg,NaN,NaN
production_companies,object,49763,0,0.000000,9214,18.515765,NaN,NaN,[],NaN,NaN
production_countries,object,49763,0,0.000000,856,1.720154,NaN,NaN,"[{'iso_3166_1': 'US', 'name': 'United States o...",NaN,NaN
rating,object,8862,40901,82.191588,7,0.014067,NaN,NaN,R,NaN,NaN
ratingContents,object,8862,40901,82.191588,3383,6.798224,NaN,NaN,['Language'],NaN,NaN
releaseDateStreaming,object,36086,13677,27.484275,2818,5.662842,NaN,NaN,2017-05-22,NaN,NaN
releaseDateTheaters,object,20831,28932,58.139582,6017,12.091313,NaN,NaN,1996-12-25,NaN,NaN
release_date,object,49759,4,0.008038,10029,20.153528,NaN,NaN,1997-01-01,NaN,NaN
revenue,float64,49763,0,0.000000,4957,9.961216,2.544077e+07,0.0,0.0,0.0,2.787965e+09
review_count,float64,34880,14883,29.907763,376,0.755581,3.899774e+01,11.0,1.0,1.0,9.540000e+02
runtime,float64,49754,9,0.018086,250,0.502381,1.022469e+02,99.0,90.0,0.0,8.770000e+02
runtimeMinutes,float64,47701,2062,4.143641,227,0.456162,9.945131e+01,97.0,90.0,2.0,4.850000e+02
soundMix,object,12837,36926,74.203726,459,0.922372,NaN,NaN,Surround,NaN,NaN
spoken_languages,object,49763,0,0.000000,928,1.864839,NaN,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]",NaN,NaN
status,object,49706,57,0.114543,5,0.010048,NaN,NaN,Released,NaN,NaN
tagline,object,29441,20322,40.837570,10897,21.897796,NaN,NaN,. . . One for All and All for Fun!,NaN,NaN
title,object,49763,0,0.000000,13948,28.028857,NaN,NaN,cinderella,NaN,NaN
tomatoMeter,float64,23514,26249,52.748026,101,0.202962,6.242285e+01,68.0,100.0,0.0,1.000000e+02
video,object,49763,0,0.000000,2,0.004019,NaN,NaN,False,NaN,NaN
vote_average,float64,49763,0,0.000000,84,0.168800,5.869751e+00,6.1,6.0,0.0,1.000000e+01
vote_count,float64,49763,0,0.000000,1673,3.361936,2.040667e+02,17.0,2.0,0.0,1.407500e+04
writer,object,35212,14551,29.240600,12476,25.070836,NaN,NaN,Paul Leadon,NaN,NaN

In [26]:
df_joined.dropna(subset=['boxOffice'], inplace=True)

In [27]:
display(column_stats(df_joined))

,Data Type,Count,Missing Values,Missing Value Rate,Unique Values,Unique Rate,Mean,Median,Mode,Min,Max
Cast,object,11735,284,2.362925,7144,59.439221,NaN,NaN,Bill Condon (director/screenplay); Evan Spilio...,NaN,NaN
Director,object,12019,0,0.000000,3645,30.326982,NaN,NaN,Unknown,NaN,NaN
Genre,object,12019,0,0.000000,749,6.231800,NaN,NaN,drama,NaN,NaN
Origin/Ethnicity,object,12019,0,0.000000,20,0.166403,NaN,NaN,American,NaN,NaN
Plot,object,12019,0,0.000000,7153,59.514103,NaN,NaN,"After losing her mother at a young age, Ella p...",NaN,NaN
Release Year,int64,12019,0,0.000000,107,0.890257,1.994003e+03,2000.0,2011.0,1903.0,2.017000e+03
Title,object,12019,0,0.000000,6349,52.824694,NaN,NaN,Cinderella,NaN,NaN
Wiki Page,object,12019,0,0.000000,7160,59.572344,NaN,NaN,https://en.wikipedia.org/wiki/Cinderella_(2015...,NaN,NaN
adult,object,12019,0,0.000000,1,0.008320,NaN,NaN,False,NaN,NaN
audienceScore,float64,11924,95,0.790415,94,0.782095,6.003028e+01,61.0,80.0,0.0,1.000000e+02
belongs_to_collection,object,1428,10591,88.118812,615,5.116898,NaN,NaN,"{'id': 645, 'name': 'James Bond Collection', '...",NaN,NaN
boxOffice,object,12019,0,0.000000,2718,22.614194,NaN,NaN,$1.1M,NaN,NaN
budget,object,12019,0,0.000000,466,3.877194,NaN,NaN,0,NaN,NaN
director,object,12012,7,0.058241,3098,25.775855,NaN,NaN,Kenneth Branagh,NaN,NaN
distributor,object,9518,2501,20.808720,810,6.739329,NaN,NaN,Paramount Pictures,NaN,NaN
genre,object,12019,0,0.000000,647,5.383143,NaN,NaN,Drama,NaN,NaN
genres,object,12019,0,0.000000,1540,12.813046,NaN,NaN,"[{'id': 18, 'name': 'Drama'}]",NaN,NaN
homepage,object,2843,9176,76.345786,1934,16.091189,NaN,NaN,http://movies.disney.com/cinderella,NaN,NaN
id,object,11772,247,2.055079,6509,54.155920,NaN,NaN,cinderella,NaN,NaN
id_x,object,12019,0,0.000000,6635,55.204260,NaN,NaN,cinderella,NaN,NaN
id_y,object,12019,0,0.000000,7859,65.388135,NaN,NaN,105045,NaN,NaN
imdb_id,object,12017,2,0.016640,7858,65.379815,NaN,NaN,tt0111613,NaN,NaN
originalLanguage,object,12004,15,0.124802,46,0.382727,NaN,NaN,English,NaN,NaN
original_language,object,12019,0,0.000000,44,0.366087,NaN,NaN,en,NaN,NaN
original_title,object,12019,0,0.000000,6800,56.577086,NaN,NaN,Cinderella,NaN,NaN
overview,object,11971,48,0.399368,7827,65.121890,NaN,NaN,"East-Berlin, 1961, shortly after the erection ...",NaN,NaN
popularity,object,12019,0,0.000000,7855,65.354855,NaN,NaN,0.122178,NaN,NaN
poster_path,object,12006,13,0.108162,7851,65.321574,NaN,NaN,/5WFIrBhOOgc0jGmoLxMZwWqCctO.jpg,NaN,NaN
production_companies,object,12019,0,0.000000,5483,45.619436,NaN,NaN,[],NaN,NaN
production_countries,object,12019,0,0.000000,633,5.266661,NaN,NaN,"[{'iso_3166_1': 'US', 'name': 'United States o...",NaN,NaN
rating,object,6345,5674,47.208586,4,0.033281,NaN,NaN,R,NaN,NaN
ratingContents,object,6345,5674,47.208586,2718,22.614194,NaN,NaN,['Language'],NaN,NaN
releaseDateStreaming,object,11611,408,3.394625,1552,12.912888,NaN,NaN,2005-10-04,NaN,NaN
releaseDateTheaters,object,10153,1866,15.525418,2433,20.242949,NaN,NaN,1996-12-25,NaN,NaN
release_date,object,12019,0,0.000000,4797,39.911806,NaN,NaN,1996-12-25,NaN,NaN
revenue,float64,12019,0,0.000000,4154,34.561944,4.804579e+07,0.0,0.0,0.0,2.787965e+09
review_count,float64,11772,247,2.055079,375,3.120060,9.133265e+01,64.0,33.0,1.0,9.540000e+02
runtime,float64,12017,2,0.016640,208,1.730593,1.052753e+02,102.0,90.0,0.0,8.770000e+02
runtimeMinutes,float64,12014,5,0.041601,136,1.131542,1.072383e+02,104.0,105.0,17.0,2.420000e+02
soundMix,object,8139,3880,32.282220,415,3.452866,NaN,NaN,Surround,NaN,NaN
spoken_languages,object,12019,0,0.000000,640,5.324902,NaN,NaN,"[{'iso_639_1': 'en', 'name': 'English'}]",NaN,NaN
status,object,12008,11,0.091522,4,0.033281,NaN,NaN,Released,NaN,NaN
tagline,object,8383,3636,30.252101,5730,47.674515,NaN,NaN,"A love, a hope, a wall.",NaN,NaN
title,object,12019,0,0.000000,6307,52.475248,NaN,NaN,cinderella,NaN,NaN
tomatoMeter,float64,11437,582,4.842333,101,0.840336,5.554184e+01,58.0,88.0,0.0,1.000000e+02
video,object,12019,0,0.000000,1,0.008320,NaN,NaN,False,NaN,NaN
vote_average,float64,12019,0,0.000000,77,0.640652,5.999068e+00,6.2,6.0,0.0,1.000000e+01
vote_count,float64,12019,0,0.000000,1606,13.362177,4.025483e+02,58.0,2.0,0.0,1.407500e+04
writer,object,10635,1384,11.515101,4715,39.229553,NaN,NaN,Chris Weitz,NaN,NaN